$primary: #1c4980;
$primary-light: #e5f1fc;
$white: #ffffff;
$black: #000000;
$secondary: #0073e6;
$danger: #d63500;
$danger-light: #fbebea;
$gray: #8da4bf;
$gray-light: #DADCE0;
$success: #05c165;
$purple: #6548EE;
$purple-light: #ebe8fd;
// $purple-light: #ebe8fd;
